<!DOCTYPE html>
<html>

<head>
  <title>Student's profile</title>

  <head>
    <style type="text/css">
      body {
        width: 600px;
        margin: 0;
        padding: 0px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: rgb(33, 33, 33);
      }
      }

      .emailVerficationContainer a {
        text-decoration: none;
      }
    </style>
    <meta charset="utf-8">
  </head>

  <div class="emailVerficationContainer">
    <h4>Hello To Mppum {{firstName}} </h4>
    <p>please confirm your email address by clicking the following link below</p>
    <a href={{url}}>Click to Confirm</a>
  </div>

</html>