.createItemPage {
  width: 100%;
  background: #f9f5a5;
}
.createItemForm {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #ede2a3;
  gap: 20px;
}
.RegisterForm {
  width: 80%;
  margin: 0 auto;
}
.formcreateItemLabel {
  width: 100%;
  text-align: start;
  font-size: 1.2vw;
}
.formTitle {
  font-size: 40px;
  background: #a6bdf8;
  color: white;
  padding-bottom: 10px;
  font-family: 'David Libre', serif;
}
.finishSell {
  place-self: end;
  width: 60%;
  height: 60%;
}
.createItemMessage {
  color: red;
}
