.userDetailes {
  width: 100%;
  height: 300px;
}
.userDetailes {
  width: 50%;
  text-align: right;
}
.formConfirmFlex {
  display: flex;
}
.formConfirmTitle {
  padding: 20px;
}
.formConfirmSubtitle {
  padding-bottom: 30px;
}
.formConfirmWrapper label {
  width: 40%;
}
