.loginPage {
  width: 100%;
  background: #f8f9fa;
}
.loginForm {
  width: 30vw;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  opacity: 0.9;
}
.RegisterForm {
  width: 80%;
  margin: 0 auto;
}
.formLoginLabel {
  font-size: 1.5vw;
  float: left;
}
.logintitle {
  color: #02033f;
  padding-bottom: 40px;
  text-align: center;
}
