.searchUserForm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchUserLastUser label {
  text-align: center;
  padding: 10px;
  color: blue;
  cursor: pointer;
}
.searchUserLastUser label:hover {
  text-decoration: underline;
}
