.searchUserContainer {
  height: 72vh;
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.searchUserTitle {
  align-self: center;
}
.searchUserForm {
  display: flex;
  align-self: center;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.searchUserLastUser label {
  text-align: center;
  padding: 10px;
  color: blue;
  cursor: pointer;
}
.searchUserLastUser label:hover {
  text-decoration: underline;
}
.resultContainer {
  margin-top: 1px;
}
.searchButton {
  position: absolute;
  top: 17%;
  left: 76%;
}
