.AutoCompleteContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 2px;
}
.AutoCompleteContainer p {
  width: 100%;
  margin: 0;
  font-size: 2.3vh;
  padding: 12px;
  background-color: #fff;
  background-clip: padding-box;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  transition: border-color 0.15s;
  cursor: pointer;
  color: #495057;
}
.AutoCompleteContainer p:hover {
  background: #5aacf3;
}
