.registerPage {
  width: 95%;
  margin: 0 auto;
}
.modeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  width: 100%;
}
.modeContainer label {
  text-align: center;
  color: blue;
  cursor: pointer;
}
.modeContainer label:hover {
  text-decoration: underline;
}

.formRegisterLabel {
  font-size: 1.5vw;
}
.logintitle {
  font-size: 40px;
  color: black;
  padding-bottom: 10px;
  font-family: 'David Libre', serif;
}
