.RegisterPage {
  background: #f9f5a5;
  width: 100%;
}
.modeContainer {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  width: 100%;
}
.modeContainer p {
  text-align: center;
  padding: 10px;
}
.Registerform {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #eceff9;
  gap: 20px;
  padding-top: 10px;
}
.formRegisterLabel {
  font-size: 1.5vw;
}
.logintitle {
  font-size: 40px;
  color: black;
  padding-bottom: 10px;
  font-family: 'David Libre', serif;
}
